nav {
    .nav-item.nav-link {
        font-size: 16px;
    }
}


.home {
    .fas.fa-chevron-down {
        position: absolute;
        display: block;
        bottom: 20px;
        padding-top: 20px;
        color: white;
        animation: bounce 1.6s infinite;
    }
}

#offer {
    .jumbotron {
        .offer-wrap {
            width: 80%;
        }
    }
}

@media (min-width: 1200px) {
    #about-hero {
        .jumbotron {
            padding: 100px 0;

            .offer-wrap {
                width: 85%;
            }
        }
    }
}

@media (min-width: 1400px) {
    #about-hero {
        .jumbotron {
            padding: 120px 0;
        }
    }
}

@media (min-width: 2000px){
    #about-hero{
        .jumbotron{
            padding: 100px 0;
        }
    }
    #offer{
        .offer-wrap{
            width: 70%;
        }
    }
}