$blue-color: #039dff;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: #333;
    z-index: 0;
}

.blue-text {
    color: $blue-color;
}

.wrapper {
    max-width: 2560px;
    margin: 0 auto;
    width: 80%;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $blue-color;
}

.scroll-fix::before {
    display: block;
    margin-top: -66px;
    height: 66px;
    content: "";
}

.visibility {
    visibility: hidden;
}

.jumbotron {
    margin-bottom: 0;
}

// NAVIGATION
nav {
    text-transform: uppercase;
    transition: background-color 0.6s;

    a,
    i {
        color: #fff;
        transition: color 0.3s;
    }

    .nav-item.nav-link {
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    a:hover {
        color: $blue-color;
    }

    button i {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .active {
        color: $blue-color;
    }
}

.shadow-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url("../img/computer-1845880_1280.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -20;
    overflow: hidden;

    .bg-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -10;
    }

    .fas.fa-chevron-down {
        display: none;
    }

    .hero-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        h2 {
            text-align: center;
            padding: 0 15px;
            font-size: 25px;
        }

        p {
            text-align: center;
            font-size: 13px;
            padding: 0 40px;
        }

        .btn.btn-outline-light {
            padding: 5px 35px;
            text-transform: uppercase;
        }
    }
}

// MAIN
#about {
    i {
        font-size: 30px;
        margin-top: 20px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .aboutus-hover {
        transition: color .3s;
    }

    .aboutus-hover:hover {
        color: $blue-color;
    }
}

#about-hero {
    position: relative;
    height: 100%;
    color: #ddd;
    overflow: hidden;


    .jumbotron.jumbotron-fluid {
        position: relative;
        background-image: url('../img/technology-about-hero-image_1280.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .about-shadow {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    i {
        font-size: 30px;
        margin-top: 14px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .about-hero-item {
        margin: 10px 0;
    }

    .aboutus-hover {
        transition: color .3s;
        visibility: hidden;
    }
}

// PORTFOLIO DESKTOP
#portfolio {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 27px;
    }

    .carousel-item {
        position: relative;
        height: 600px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .carousel-caption {
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px 0;
        // bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .carousel-indicators {
        padding-bottom: 20px;
    }
}

// OFFER
#offer {
    .jumbotron {
        background-color: #f9f9f9;

        .offer-wrap {
            max-width: 2560px;
            margin: 0 auto;
            width: 95%;
        }
    }

    .price-box {
        margin: 20px 10px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
        transition: transform .3s;

        h3 {
            color: $blue-color;
            text-transform: uppercase;
        }

        span {
            font-weight: bold;
        }

        i {
            padding: 0 5px;
            font-size: 23px;
        }

        button {
            padding: 10px 20px;
            text-transform: uppercase;
        }

        .price {
            font-size: 30px;
            font-weight: bold;
        }
    }

    .price-text {
        margin-top: 30px;
    }

    .price-box:hover {
        transform: scale(1.05);
    }
}

// TEAM
#team{
    .jumbotron{
        position: relative;
        background-image: url("../team\ img/conference-room-768441_1920.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        h2{
            color: #fff;
        }

        .team-shadow{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: -10;
        }
    }
}

    .card{
        transition: transform.3s;
        
        img{
            height: 200px;
            object-fit: cover;
        }
        
        i{
            padding: 10px 20px;
        }
        
        .row{
            margin-left: 0; 
            margin-right: 0; 
        }
    }
    .card:hover{
        transform: scale(0.96);
    }
    
    .card-body{
        height: 150px;
        overflow: hidden;
    }
    
    .card-title{
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .card-text{
        font-size: 14px;
    }


// achievements
#achievements{
    .achievement{

        i{
        font-size: 40px;
        padding: 10px;
        color: white;
        text-shadow: 0px 0px 5px black;
        }

        .achievement-number{
            font-size: 22px;
        }

        .achievement-text{
            font-size: 13px;
            text-transform: uppercase;
        }
    }

    .achievement-list{
        padding: 20px 0;
    }
}

// contact
#contact{
    .jumbotron{
        position: relative;
        background-image: url("../contact\ img/america_1280.jpg");
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;

        h2{
            font-weight: bold;
            color: #fff;
        }

        .underline{
            background-color: #ccc;
        }
    }
    .contact-shadow{
        position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 9, 27, 0.85);
            z-index: -10;
    }

    .contact-us{
       display: flex;
       align-items: center; 

       .contact-item{
           margin: 30px 0;
           color: #fff;
       }

        h3{
            margin-bottom: 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .social-media{
            font-size: 26px;

            a{
                padding: 10px;
                color: #fff;
                text-shadow: 0 0 5px black;
                transition: color .3s;
            }

            a:hover{
                color: #ccc;
            }
        }
    }
}

footer{
    color: #fff;
    
    p{
        margin-bottom: 0;
        padding: 20px;
        text-align: center;
    }
}

@media (min-width: 375px) {
    #about {
        .jumbotron {
            padding: 50px 0;
        }
    }

    #about-hero {
        .jumbotron {
            padding: 50px 0;
        }

        nav {
            .nav-item.nav-link {
                font-size: 24px;
            }
        }

        .home {
            .hero-text {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
    #tema{
        .card-text{
            font-size: 15px;
        }
    }
}

@media (min-width: 414px) {
    #about-hero {
        i {
            font-size: 30px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media (min-width: 500px) {
    #team{
        .card-body{
            height: 120px;
        }
    }
}