$blue-color: #039dff;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: #333;
    z-index: 0;
}

.blue-text {
    color: $blue-color;
}

.wrapper {
    margin: 0 auto;
    width: 80%;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
}

.underline {
    margin: 0 auto 40px;
    width: 60px;
    height: 4px;
    background-color: $blue-color;
}

.scroll-fix::before {
    display: block;
    margin-top: -66px;
    height: 66px;
    content: "";
}

.visibility{
    visibility: hidden;
}

.jumbotron {
    margin-bottom: 0;
}

// NAVIGATION
nav {
    text-transform: uppercase;
    transition: background-color 0.6s;

    a,
    i {
        color: #fff;
        transition: color 0.3s;
    }

    .nav-item.nav-link {
        padding: 10px;
        text-align: center;
        font-size: 20px;
    }

    a:hover {
        color: $blue-color;
    }

    button i {
        padding: 10px;
    }

    .navbar-brand {
        font-weight: bold;
    }

    .active {
        color: $blue-color;
    }
}

.shadow-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url("../img/computer-1845880_1280.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -20;
    overflow: hidden;

    .bg-shadow {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -10;
    }

    .fas.fa-chevron-down {
        display: none;
    }

    .hero-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;

        h2 {
            text-align: center;
            padding: 0 15px;
            font-size: 25px;
        }

        p {
            text-align: center;
            font-size: 13px;
            padding: 0 40px;
        }

        .btn.btn-outline-light {
            padding: 5px 35px;
            text-transform: uppercase;
        }
    }
}

// MAIN
#about {
    i {
        font-size: 30px;
        margin-top: 20px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 18px;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
    }

    .aboutus-hover {
        transition: color .3s;
    }

    .aboutus-hover:hover {
        color: $blue-color;
    }
}

#about-hero {
    position: relative;
    height: 100%;
    color: #ddd;
    overflow: hidden;


    .jumbotron.jumbotron-fluid {
        position: relative;
        background-image: url('../img/technology-about-hero-image_1280.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: 0;
    }

    .about-shadow {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: -10;
    }

    i {
        font-size: 30px;
        margin-top: 14px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .about-hero-item {
        margin: 10px 0;
    }

    .aboutus-hover {
        transition: color .3s;
        visibility: hidden;
    }
}

// PORTFOLIO
#portfolio{
    h2{text-align: center;
        text-transform: uppercase;
        font-size: 27px;
    }

    .carousel-item{
        position: relative;
        height: 600px;

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .carousel-caption{
        position: absolute;
        left: 0;
        right: 0;
        padding: 40px 0;
        // bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .carousel-indicators{
padding-bottom: 20px;
    }
}



@media (min-width: 375px) {
    #about {
        .jumbotron {
            padding: 50px 0;
        }
    }

    #about-hero {
        .jumbotron {
            padding: 50px 0;
        }

        nav {
            .nav-item.nav-link {
                font-size: 24px;
            }
        }

        .home {
            .hero-text {
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (min-width: 414px) {
    #about {
        .jumbotron {
            padding: 80px 0;
        }
    }

    #about-hero {
        .jumbotron {
            padding: 80px 0;
        }

        i {
            font-size: 30px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 16px;
        }
    }
}