nav {
    .nav-item.nav-link {
        font-size: 23px;
    }
}

#offer {
    .price-info {
        font-size: 23px;
    }

    .jumbotron {
        .offer-wrap {
            width: 90%;
        }
    }
}

#about, #about-hero{
    .jumbotron {
        padding: 80px 0;
    }
}

#about-hero {
    .jumbotron {
        .row:last-child {
            margin: 0 auto;
        }
        .underline{
            margin-bottom: 50px;
        }
    }
}

#portfolio {
    .jumbotron {
        .wrapper {
            width: 90%;
        }
    }
}

#team{
    .card-body{
        height: 150px;
    }
}